NAME="Service FlaskApp"
CONTEXT=[
  APP_DATABASE="$APP_DATABASE",
  DB_HOST="127.0.0.1",
  DB_USER="$DB_USER",
  DB_USER_PASSWORD="$DB_USER_PASSWORD",
  NETWORK="YES",
  PASSWORD="sro1ZFyIg134JgH7NHR7Tg==",
  SSH_PUBLIC_KEY="$USER[SSH_PUBLIC_KEY]",
  START_SCRIPT_BASE64="c291cmNlIC9yb290L2Jpbi9hY3RpdmF0ZQpjZCAvcm9vdC9hcHAvCnB5dGhvbiBhcHAucHkgJg==",
  TOKEN="YES" ]
CPU="1"
DISK=[
  IMAGE="Service FlaskApp",
  IMAGE_ID="<IMAGE ID>",
  IMAGE_UNAME="oneadmin",
  SIZE="10240",
  TARGET="vda" ]
GRAPHICS=[
  LISTEN="0.0.0.0",
  TYPE="VNC" ]
HYPERVISOR="kvm"
INPUTS_ORDER="DB_USER_PASSWORD,APP_DATABASE,DB_USER"
MEMORY="2048"
NIC=[
  NETWORK="evpn0",
  NETWORK_ID="0",
  NETWORK_UID="0",
  NETWORK_UNAME="oneadmin" ]
SCHED_REQUIREMENTS="HYPERVISOR=kvm"
USER_INPUTS=[
  APP_DATABASE="M|text|| |appdb",
  DB_USER="M|text|| |appuser",
  DB_USER_PASSWORD="M|password|| |" ]